.sign
{
    background-color: rgb(234, 0, 0);
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    display: flex;
    font-size: x-small;
    height: 15px;
    width: 15px;
    justify-content: center;
    align-items: center;
    right: 11px;

}
.signin, .register{
    padding: 6px 25px;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    transition: all 0.3s ease ;
    cursor: pointer;
    border-color: slateblue;
}
.signin:hover{
  
    background-color: #e47218;
    border-radius: 20px;
}
.register:hover
{
   
    background-color: #5046e5;
    border-radius: 20px;
}